.container{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  text-align: center;
  background-color: #4f83cc;
}

.puta {
  padding-right: -12 !important;
  padding-left: 0 !important;
}

.color{
  background-color: #4f83cc;
}
