<div class="container" style="margin-top:8%;">
  <div class="row justify-content-center">
    <div class="card bg-light" style="max-width: 50rem; margin: 20px auto;">
      <div class="card-body">
        <h1>{{'activities.title' | translate}}</h1>
        <form [formGroup]="form" class="justify-content-center form">
          <mat-form-field appearance="outline">
            <mat-label>{{'activities.minPrice' | translate}}</mat-label>
            <input matInput type="number" formControlName="minPrice">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'activities.maxPrice' | translate}}</mat-label>
            <input matInput type="number" formControlName="maxPrice">
          </mat-form-field>
          <button class="btn btn-proyecto" mat-raised-button color="primary" (click)="searchAct()">
            <span class="mat-body-2">{{'activities.search' | translate}}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3" *ngFor="let activity of activities">
      <div class="card mb-3">
        <img class="card-img-top img-card" src="https://picsum.photos/id/62/500/500" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><a [routerLink]="['/activity/'+ activity.id]"><strong>{{activity.name}}</strong></a></h2>
          <p class="card-text">{{'activities.description' | translate}}: {{activity.description}}</p>
          <p class="card-text">{{'activities.price' | translate}}: {{activity.price}} €</p>
          <p class="card-text">{{'activities.date' | translate}}: {{activity.activityDate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
