<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../../../assets/img/{{product.image | sinfoto}}" style="max-height: 20rem;" alt="Card image cap">
  <div class="card-body">
    <div class="card-title">
      <h3><a routerLink="/products/{{product.id}}" style="text-decoration:none; color: black;">{{product.nombre}}</a></h3>
    </div>
    <p class="card-text"> {{ (product.descripcion.length>15)? (product.descripcion  | slice:0:70)+'...':(product.descripcion ) }}</p>
    <p class="card-text text-success">{{product.precio | currency:'EUR'}}</p>
    <a routerLink="/products/{{product.id}}" class="btn btn-outline-primary btn-lg">Ver más ...</a>
  </div>
</div>
