<div class="container" style="margin-top:5%; overflow-x: hidden;">
  <div class="container" id="headerProfile" style="background-image: url('assets/port.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="profilePicture row justify-content-center">
      <img src="assets/user.png" alt="profile picture" class="img-circle" style="width: 15%; margin: 1.5%;">
    </div>
  </div>
  <div class="row" style="background-color: white; text-align: center; margin-top:2%;" *ngIf="user.name">
    <p class="h2">{{user.name}} {{user.lastName}}</p>
  </div>
  <div class="row">
    <div class="container" id="user_data">
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" >
        <div class="row">
          <div class="col-md-3">
            <p class="h3">{{'profile.personalData' | translate}}</p>
          </div>
          <div class="col-md-1">
            <button mat-button (click)="show_form()" id="editButton">
              <mat-icon>edit</mat-icon>
              {{'profile.edit' | translate}}
            </button>
          </div>
          <div class="col-md-1">

            <button mat-button (click)="save_form()" style="display:none;" id="saveButton">
              <mat-icon>save</mat-icon>
              {{'profile.save' | translate}}
            </button>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="h6">{{'signup.name' | translate}}</p>
            <mat-form-field appearance="outline" style="margin-right: 20px;">
              <mat-label>{{'signup.name' | translate}}</mat-label>
              <input matInput formControlName="name" type="text" placeholder="First name" required>
              <mat-error *ngIf="dataForm.get('name')?.errors?.['minLength']">
                {{'signup.3chrt' | translate}}
              </mat-error>
              <mat-error *ngIf="dataForm.get('name')?.errors?.['maxLength']">
                {{'signup.20chrt' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 280px;">
              <mat-label>{{'signup.lastName' | translate}}</mat-label>
              <input matInput formControlName="lastName" type="text" placeholder="Last name" required>
              <mat-error *ngIf="dataForm.get('lastName')?.errors?.['minLength']">
                {{'signup.3chrt' | translate}}
              </mat-error>
              <mat-error *ngIf="dataForm.get('lastName')?.errors?.['maxLength']">
                {{'signup.20chrt' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <p class="h6">{{'signup.email' | translate}}</p>
            <mat-form-field appearance="outline" style="width: 400px;">
              <mat-label>{{'signup.email' | translate}}</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Email address" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="h6">{{'signup.birthday' | translate}}</p>
            <mat-form-field appearance="outline">
              <mat-label>{{'signup.birthday' | translate}}</mat-label>
              <input matInput formControlName="birthday" type="date" placeholder="Birthday" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <p class="h6">{{'signup.phone' | translate}}</p>
            <mat-form-field>
              <mat-label>{{'signup.phone' | translate}}</mat-label>
              <input matInput formControlName="phone" type="text" placeholder="Phone" required>
              <mat-error *ngIf="dataForm.get('phone')?.errors?.['pattern']">
                {{'signup.10chrt' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <change-password-card></change-password-card>
          </div>

        </div>
        <div class="row" style="margin-top: 2.5%;">
          <p class="h3">{{'signup.address' | translate}}</p>
          <hr>
        </div>
        <div class="row" style="margin-top: 2%;">
          <div class="col-md-4">
            <p class="h6">{{'signup.address' | translate}}</p>
            <mat-form-field appearance="outline">
              <mat-label>{{'signup.address' | translate}}</mat-label>
              <input matInput formControlName="address" type="text" placeholder="Address" required>
              <mat-error *ngIf="dataForm.get('address')?.errors?.['minLength']">
                {{'signup.3chrt' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p class="h6">{{'signup.city' | translate}}</p>
            <mat-form-field appearance="outline">
              <mat-label>{{'signup.city' | translate}}</mat-label>
              <input matInput formControlName="city" type="text" placeholder="City" required>
              <mat-error *ngIf="dataForm.get('city')?.errors?.['minLength']">
                {{'signup.3chrt' | translate}}
              </mat-error>
              <mat-error *ngIf="dataForm.get('city')?.errors?.['maxLength']">
                {{'signup.20chrt' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p class="h6">{{'signup.zipCode' | translate}}</p>
            <mat-form-field appearance="outline">
              <mat-label>{{'signup.zipCode' | translate}}</mat-label>
              <input matInput formControlName="zip" type="text" placeholder="ZIP Code" required>
              <mat-error *ngIf="dataForm.get('zip')?.errors?.['pattern']">
                {{'signup.zipLength' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="h6">{{'signup.country' | translate}}</p>
            <mat-form-field appearance="outline">
              <mat-label>{{'signup.country' | translate}}</mat-label>
              <input matInput formControlName="country" type="text" placeholder="Country" required>
              <mat-error *ngIf="dataForm.get('country')?.errors?.['minLength']">
                {{'signup.3chrt' | translate}}
              </mat-error>
              <mat-error *ngIf="dataForm.get('country')?.errors?.['maxLength']">
                {{'signup.20chrt' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p class="h6">{{'signup.state' | translate}}</p>
            <mat-form-field appearance="outline">
              <mat-label>{{'signup.state' | translate}}</mat-label>
              <input matInput formControlName="state" type="text" placeholder="State" required>
              <mat-error *ngIf="dataForm.get('state')?.errors?.['minLength']">
                {{'signup.3chrt' | translate}}
              </mat-error>
              <mat-error *ngIf="dataForm.get('state')?.errors?.['maxLength']">
                {{'signup.20chrt' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p class="h6">{{'profile.preferredPort' | translate}}</p>
            <p class="h5">{{'profile.portName' | translate}}</p>
          </div>
        </div>

      </form>
    </div>


  </div>
  <div class="row">
    <div class="row" style="margin-top: 2.5%;">
      <p class="h3">{{'profile.boats' | translate}}
        <button class="btn btn-proyecto" mat-raised-button color="primary"  style="margin-top: 15px;">
          <span class="mat-body-2" [routerLink]="['/create-boat']">{{'profile.createBoat' | translate}}</span>
        </button>
      </p>
      <hr>
    </div>
    <div class="row flex-row flex-nowrap" style="overflow: scroll; overflow-y: hidden">
<!--      <div class="col-3" *ngFor="let booking of bookings">-->
<!--        <h1>holi</h1>-->
<!--      </div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md" style="margin-top:20px; padding-bottom: 50px;">
      <button class="logout-button" (click)="logout()">{{'profile.logOut' | translate}}</button>
    </div>
  </div>
</div>
