<div class="container" style="margin-top:10%;">
  <div class="row bg-black">
    <button type="button" mat-raised-button color="primary" (click)="activity()">
      <span class="mat-body-2">Actividades</span>
    </button>
  </div>
  <div class="row justify-content-center">
    <div class="card bg-light" style="max-width: 50rem; margin: 20px auto;">
      <div class="card-body">
        <h1>FUNNY SAIL!!</h1>
        <p>Bienvenidos a nuestra SUPER PAGINA WEB!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <card-product></card-product>
  </div>
</div>
