<div class="card" style="width: 18rem;">
  <img src="../../../../../assets/defaultBoat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Date: {{createdDate}}</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      {{'booking.card.detail' | translate}}
    </button>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h4" id="exampleModalLabel">{{name}}</p>
        <p class="h6">{{createdDate}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="h5">Rental detail</p>
        <div class="container" *ngFor="let book of boatBookings">
          <div class="row">
            <div class="col-md">
              <p class="h5">{{book.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h6">{{entryDate}} - {{departureDate}}</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h5">Base price</p>
            </div>
            <div class="col-md">
              <p class="h5">{{book.price}}€/day</p>
            </div>
            <hr>
          </div>
        </div>
        <div class="container" *ngFor="let book of serviceBookings">
          <div class="row">
            <div class="col-md">
              <p class="h5">{{book.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h6">{{entryDate}} - {{departureDate}}</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h5">Base price</p>
            </div>
            <div class="col-md">
              <p class="h5">{{book.price}}€/day</p>
            </div>
            <hr>
          </div>
        </div>
        <div class="container" *ngFor="let book of activityBookings">
          <div class="row">
            <div class="col-md">
              <p class="h5">{{book.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h6">{{entryDate}} - {{departureDate}}</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h5">Base price</p>
            </div>
            <div class="col-md">
              <p class="h5">{{book.price}}€/day</p>
            </div>
            <hr>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md">
              <p class="h5">Total price</p>
            </div>
            <div class="col-md">
              <p class="h5">{{total}}€</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">Rental status</p>
            </div>
            <div class="col-md">
              <p class="h6">{{status}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">Payment status</p>
            </div>
            <div class="col-md">
              <p class="h6">{{paid}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
