<div class="card" style="width: 18rem;" *ngIf="name">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#'+id">
      {{'booking.card.detail' | translate}}
    </button>
  </div>
</div>

<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h4" id="exampleModalLabel">{{name}}</p>
        <p class="h6">{{createdDate}}</p>
        <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="h5">Rental detail</p>
        <p class="card-text">Date: {{createdDate}}</p>
        <div *ngIf="boatBookings.length > 0">
          <h1>BOATS</h1>
          <div class="container" *ngFor="let book of boatBookings">
            <div class="row">
              <div class="col-md">
                <p>Nombre:</p>
              </div>
              <div class="col-md">
                <p>{{book.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p>Id:</p>
              </div>
              <div class="col-md">
                <p>{{book.id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p>{{'rentalHC.basePrice'|translate}}</p>
              </div>
              <div class="col-md">
                <p>{{book.price}}€/{{'boat.day'|translate}}</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div *ngIf="serviceBookings.length > 0">
          <h1>SERVICES</h1>
          <hr>
          <div class="container" *ngFor="let service of serviceBookings">
            <div class="row">
              <div class="col-md">
                <p>Nombre:</p>
              </div>
              <div class="col-md">
                <p>{{service.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p>Id:</p>
              </div>
              <div class="col-md">
                <p>{{service.id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p>{{'rentalHC.basePrice'|translate}}</p>
              </div>
              <div class="col-md">
                <p>{{service.price}}€/{{'boat.day'|translate}}</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div *ngIf="activityBookings.length > 0">
          <h1>Activities</h1>
          <hr>
          <div class="container" *ngFor="let activity of activityBookings">
            <div class="row">
              <div class="col-md">
                <p>Nombre:</p>
              </div>
              <div class="col-md">
                <p>{{activity.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p>Id:</p>
              </div>
              <div class="col-md">
                <p>{{activity.id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p>{{'rentalHC.basePrice'|translate}}</p>
              </div>
              <div class="col-md">
                <p>{{activity.price}}€/{{'boat.day'|translate}}</p>
              </div>
              <hr>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md">
              <p class="h5">{{'rentalHC.totalPrice'|translate}}</p>
            </div>
            <div class="col-md">
              <p class="h5">{{total}}€</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">{{'boat.rentalStatus'|translate}}</p>
            </div>
            <div class="col-md">
              <p class="h6">{{status}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">{{'rentalHC.paymentStatus'|translate}}</p>
            </div>
            <div class="col-md">
              <p class="h6">{{paid}}</p>
            </div>
          </div>
          <hr>
          <div *ngIf="status === 'Booking'">
            <button class="btn btn-primary" (click)="cancelBooking()" >CANCEL</button>
          </div>
          <div>
            <button class="btn btn-primary" (click)="showBilling()" >BILLING</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
