<div class="container" style="margin-top:90px;">
  <div class="row">
    <p class="h1">{{'createBoat.title' | translate}}</p>
    <p>{{'createBoat.description' | translate}}</p>
    <hr>
  </div>
  <form [formGroup]="boatForm" (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="col-md col-xs-12">
        <p class="h3">{{'createBoat.formTitle'|translate}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.name' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.name'|translate}}" formControlName="name" type="string">
          <mat-error *ngIf="boatForm.get('name')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('name')?.errors?.['minLength']">
            {{'createBoat.minLength' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('name')?.errors?.['maxLength']">
            {{'createBoat.maxLength200' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.length' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.length'|translate}}" formControlName="length" type="number">
          <mat-error *ngIf="boatForm.get('length')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('length')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('length')?.errors?.['max']">
            {{'createBoat.maxValue100' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.beam' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.beam'|translate}}" formControlName="beam" type="number">
          <mat-error *ngIf="boatForm.get('beam')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('beam')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('beam')?.errors?.['max']">
            {{'createBoat.maxValue100' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.capacity' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.capacity'|translate}}" formControlName="capacity" type="number">
          <mat-error *ngIf="boatForm.get('capacity')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('capacity')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('capacity')?.errors?.['max']">
            {{'createBoat.maxValue500' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.power' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.power'|translate}}" formControlName="power" type="number">
          <mat-error *ngIf="boatForm.get('power')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('power')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('power')?.errors?.['max']">
            {{'createBoat.maxValue1000' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.registration' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.registration'|translate}}" formControlName="registration" type="string">
          <mat-error *ngIf="boatForm.get('registration')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('registration')?.errors?.['minLength']">
            {{'createBoat.minLength' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('registration')?.errors?.['maxLength']">
            {{'createBoat.maxLength50' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.type' | translate}}</p>
        <mat-form-field appearance="outline" >
          <mat-select formControlName="type" placeholder="{{'createBoat.type'|translate}}">
            <mat-option value="" selected hidden>{{'createBoat.type'|translate}}</mat-option>
            <mat-option value="{{type.id}}" *ngFor="let type of boatTypes">{{type.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="boatForm.get('type')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.titulation' | translate}}</p>
        <mat-form-field appearance="outline" >
          <mat-select formControlName="titulation" placeholder="{{'createBoat.titulation'|translate}}">
            <mat-option value="" selected hidden>{{'createBoat.titulation' | translate}}</mat-option>
            <mat-option value="{{title.titleId}}" *ngFor="let title of titulations">{{'createBoat.'+title.name | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="boatForm.get('titulation')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.port' | translate}}</p>
        <mat-form-field appearance="outline" >
          <mat-select formControlName="port" placeholder="{{'createBoat.port'|translate}}" (selectionChange)="updateMoorings()">
            <mat-option value="" selected hidden>{{'createBoat.port'|translate}}</mat-option>
            <mat-option value="{{port.id}}" *ngFor="let port of ports">{{port.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="boatForm.get('port')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.mooring' | translate}}</p>
        <mat-form-field appearance="outline" >
          <mat-select formControlName="mooring" placeholder="{{'createBoat.mooring'|translate}}">
            <mat-option value="" selected hidden>{{'createBoat.mooring'|translate}}</mat-option>
            <mat-option value="{{mooring.id}}" *ngFor="let mooring of moorings">{{mooring.alias}}</mat-option>
          </mat-select>
          <mat-error *ngIf="boatForm.get('mooring')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.dayBasePrice' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.dayBasePrice'|translate}}" formControlName="dayBasePrice" type="number">
          <mat-error *ngIf="boatForm.get('dayBasePrice')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('dayBasePrice')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('dayBasePrice')?.errors?.['max']">
            {{'createBoat.maxValue3000' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.hourBasePrice' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.hourBasePrice'|translate}}" formControlName="hourBasePrice" type="number">
          <mat-error *ngIf="boatForm.get('hourBasePrice')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('hourBasePrice')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('hourBasePrice')?.errors?.['max']">
            {{'createBoat.maxValue3000' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md col-xs-12 col-sm-6">
        <p>{{'createBoat.supplement' | translate}}</p>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="{{'createBoat.supplement'|translate}}" formControlName="supplement" type="number">
          <mat-error *ngIf="boatForm.get('supplement')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('supplement')?.errors?.['min']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('supplement')?.errors?.['max']">
            {{'createBoat.maxValue3000' | translate}}
          </mat-error>
        </mat-form-field>

        <p>{{'createBoat.image' | translate}}</p>
        <mat-form-field class="angularformcss no-line " floatLabel="always">
          <img matPrefix src="https://image.flaticon.com/icons/png/512/23/23765.png" width="24px" height="24px">
          <input matInput placeholder="Issue type" id="issueType">
        </mat-form-field>


      </div>
       <div class="col-md-9 col-xs-12">
        <p>{{'createBoat.descriptionForm' | translate}}</p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <textarea matInput placeholder="{{'createBoat.descriptionForm'|translate}}" formControlName="description" type="string" rows="8"></textarea>
          <mat-error *ngIf="boatForm.get('description')?.errors?.['required']">
            {{'createBoat.required' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('description')?.errors?.['minLength']">
            {{'createBoat.minValue' | translate}}
          </mat-error>
          <mat-error *ngIf="boatForm.get('description')?.errors?.['maxLength']">
            {{'createBoat.maxLength1000' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-proyecto" mat-raised-button color="primary"  style="width:100%; margin-bottom:50px;">
          <span class="mat-body-2">{{'createBoat.submit' | translate}}</span>
        </button>
      </div>
    </div>
  </form>
</div>
