<div class="container" style="margin-top: 15%">
  <table class="table" *ngIf="count > 0; else notRefunds">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Booking Id</th>
      <th scope="col">Description</th>
      <th scope="col">Amount to return</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let refund of refunds; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{refund.bookingId}}</td>
      <td>{{refund.description}}</td>
      <td>{{refund.amountToReturn}}</td>
      <td>{{refund.date}}</td>
    </tr>
    </tbody>
  </table>
  <ng-template #notRefunds>
      <h1>No tienes devoluciones</h1>
  </ng-template>
</div>
