<div class="container" style="text-align: center;">
  <div class="row">
    <h1><strong>Contacto</strong></h1>
  </div>
  <div class="row">
    <div class="col-4">
        <h3><strong>Teléfono</strong></h3>
        <p>6666666666</p>
    </div>
    <div class="col-4">
      <h3><strong>Dirección</strong></h3>
      <p>C/ Prof. José García</p>
      <p>Santesmases, 9. 28040 Madrid</p>
      <a href="#">Mapa</a>
    </div>
    <div class="col-4">
      <h3><strong>Email</strong></h3>
      <p>info@funnysail.es</p>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="form" class="card d-flex justify-content-center form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Mensaje</mat-label>
        <input matInput type="input" placeholder="Mensaje" formControlName="message" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
      <br/>
      <button class="btn btn-success" mat-raised-button color="primary" (click)="send()">
        <span class="mat-body-2">Enviar</span>
      </button>
    </form>
  </div>
  <div class="row">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <strong>Vinoteca</strong>
          <p>C.Decano, 3 <br/> 03690 Sant Vicent del Raspeig</p>
          <p>Telefono: (+34)655555555</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
