<div class="container" style="text-align: center;">
  <div class="row">
    <h1><strong>{{'contactUs.title' | translate}}</strong></h1>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3><strong>{{'contactUs.phone' | translate}}</strong></h3>
        </div>
        <div class="card-body">
          <a href="tel:+34666666666">6666666666</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3><strong>{{'contactUs.address' | translate}}</strong></h3>
        </div>
        <div class="card-body">
          <p>C/ Prof. José García</p>
          <p>Santesmases, 9. 28040 Madrid</p>
          <a href="#">{{'contactUs.map' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3><strong>{{'contactUs.email' | translate}}</strong></h3>
        </div>
        <div class="card-body">
          <a href="mailto:info@funnysail.es">info@funnysail.es</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="form" class="card d-flex justify-content-center form">
      <mat-form-field appearance="outline">
        <mat-label>{{'contactUs.email' | translate}}</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>{{'contactUs.required' | translate}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>{{'contactUs.name' | translate}}</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" required>
        <mat-error>{{'contactUs.required' | translate}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>{{'contactUs.message' | translate}}</mat-label>
        <input matInput type="input" placeholder="Mensaje" formControlName="message" required>
        <mat-error>{{'contactUs.required' | translate}}</mat-error>
      </mat-form-field>
      <br/>
      <button class="btn btn-success" mat-raised-button color="primary" (click)="send()">
        <span class="mat-body-2">{{'contactUs.send' | translate}}</span>
      </button>
    </form>
  </div>
  <div class="row mb-5">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <strong>Vinoteca</strong>
          <p>C.Decano, 3 <br/> 03690 Sant Vicent del Raspeig</p>
          <p>Telefono: (+34)655555555</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
