<button type="button" class="btn btn-proyecto" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Change password
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h4" id="exampleModalLabel">BoatName</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="pwdForm">

            <div class="col-md-6">
              <p class="h6">New password</p>
              <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input matInput formControlName="newPassword" type="password" placeholder="New password" required>
                <mat-error *ngIf="pwdForm.get('newPassword')?.errors?.['pattern']">
                  The password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter and one number.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <p class="h6">Confirm password</p>
              <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password" required>
                <mat-error *ngIf="pwdForm.get('password')?.value != pwdForm.get('confirmPassword')?.value">
                  Password mismatch
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-proyecto" (click)="onSubmit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
