<button type="button" class="btn btn-proyecto" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Change password
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h4" id="exampleModalLabel">{{'profile.changePwd'|translate}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="pwdForm">

            <div class="col-md-6">
              <p class="h6">{{'profile.oldPwd'|translate}}</p>
              <mat-form-field appearance="outline">
                <mat-label>{{'profile.oldPwd'|translate}}</mat-label>
                <input matInput formControlName="oldPassword" type="password" placeholder="Old password" required>
                <mat-error *ngIf="pwdForm.get('oldPassword')?.errors?.['pattern']">
                  {{'signup.pwdError'|translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <p class="h6">{{'profile.newPwd'|translate}}</p>
              <mat-form-field appearance="outline">
                <mat-label>{{'profile.newPwd'|translate}}</mat-label>
                <input matInput formControlName="newPassword" type="password" placeholder="New password" required>
                <mat-error *ngIf="pwdForm.get('newPassword')?.errors?.['pattern']">
                  {{'signup.pwdError'|translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <p class="h6">{{'profile.confirmPwd'|translate}}</p>
              <mat-form-field appearance="outline">
                <mat-label>{{'profile.confirmPwd'|translate}}</mat-label>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password" required>
                <mat-error *ngIf="pwdForm.get('password')?.value != pwdForm.get('confirmPassword')?.value">
                  {{'signup.mismatch'|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">{{'profile.close'|translate}}</button>
        <button type="button" class="btn btn-proyecto" (click)="onSubmit()">{{'profile.saveChanges'|translate}}</button>
      </div>
    </div>
  </div>
</div>
