<div class="modal-content">
  <div class="modal-header">
    <p class="modal-title h4" id="exampleModalLabel">Nº de factura: {{clientInvoice.id}}</p>
    <p class="h6">{{clientInvoice.createdDate}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="h5">Rental detail</p>
<!--    <div class="container">
      <div class="row">
        <div class="col-md">
          <p class="h5">{{'rentalHC.totalPrice'|translate}}</p>
        </div>
        <div class="col-md">
          <p class="h5">{{total}}€</p>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="h5">{{'boat.rentalStatus'|translate}}</p>
        </div>
        <div class="col-md">
          <p class="h6">{{status}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="h5">{{'rentalHC.paymentStatus'|translate}}</p>
        </div>
        <div class="col-md">
          <p class="h6">{{paid}}</p>
        </div>
      </div>
      <hr>
      <div *ngIf="status === 'Booking'">
        <button class="btn btn-primary" (click)="cancelBooking()" >CANCEL</button>
      </div>
    </div>-->
  </div>
</div>
