<loading [loading]= "loading"></loading>
<div class="container mb-5" style="margin-top:100px;" *ngIf="!loading">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card p-5">
        <p class="title-payment">Datos de la operación</p>
        <p><span class="text-important">Importe:</span> {{totalPrice}} €</p>
        <div class="row">
          <div class="col-6">
            <p class="text-important">Comercio:</p>
            <hr style="width: 300px;">
            <p class="text-important">Terminal:</p>
            <hr style="width: 300px;">
            <p class="text-important">Pedido:</p>
            <hr style="width: 300px;">
            <p class="text-important">Fecha:</p>
            <hr style="width: 300px;">
            <p class="text-important">Descripción producto:</p>
          </div>
          <div class="col-6">
            <p>FUNNYSAIL(ESPAÑA)</p>
            <br>
            <p>419090003-1</p>
            <br>
            <p>{{bookingId}}</p>
            <br>
            <p>{{dateNow}}</p>
            <br>
            <p> Se está realizando la operación de pago de su reserva</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="card p-3">
              <div class="row">
                <div class="col">
                  <p class="h5">Payment method</p>
                </div>
              </div>
              <div class="row">
               <form [formGroup]="form" class="justify-content-center form">
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="outline">
                      <select matNativeControl formControlName="paymentMethod">
                        <option [selected]="true" [hidden]="true">Select Payment Method</option>
                        <option>Credit Card</option>
                        <option>Debit Card</option>
                      </select>
                      <mat-error *ngIf="form.get('paymentMethod')?.errors?.['required']">
                        {{'payment.error.required' | translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <hr>
                </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Card number</mat-label>
                        <input matInput formControlName="cardNumber" placeholder="Number on card">
                        <mat-error *ngIf="form.get('cardNumber')?.errors?.['required']">
                          {{'payment.error.required' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardNumber')?.errors?.['minlength']">
                          {{'payment.error.minLength' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardNumber')?.errors?.['maxlength']">
                          {{'payment.error.maxLength' | translate}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Card expiration month</mat-label>
                        <input matInput formControlName="cardExpirationMonth" placeholder="mm">
                        <mat-error *ngIf="form.get('cardExpirationMonth')?.errors?.['required']">
                          {{'payment.error.required' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardExpirationMonth')?.errors?.['minlength']">
                          {{'payment.error.minLength' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardExpirationMonth')?.errors?.['maxlength']">
                          {{'payment.error.maxLength' | translate}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Card expiration year</mat-label>
                        <input matInput formControlName="cardExpirationYear" placeholder="aa">
                        <mat-error *ngIf="form.get('cardExpirationYear')?.errors?.['required']">
                          {{'payment.error.required' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardExpirationYear')?.errors?.['minlength']">
                          {{'payment.error.minLength' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardExpirationYear')?.errors?.['maxlength']">
                          {{'payment.error.maxLength' | translate}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Card CVV</mat-label>
                        <input matInput formControlName="cardCvv" placeholder="Card CVV">
                        <mat-error *ngIf="form.get('cardCvv')?.errors?.['required']">
                          {{'payment.error.required' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardCvv')?.errors?.['minlength']">
                          {{'payment.error.minLength' | translate}}
                        </mat-error>
                        <mat-error *ngIf="form.get('cardCvv')?.errors?.['maxlength']">
                          {{'payment.error.maxLength' | translate}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-proyecto" style="margin-left: auto; margin-right: auto" (click)="Cancel()">
                      Cancelar
                    </button>
                    <button class="btn btn-proyecto" style="margin-left: auto; margin-right: auto" (click)="Pay()">
                      Pagar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
