.btn-proyecto{
  background-color: #4f83cc;
  color: white;
}

.btn-proyecto:hover{
  background-color: #002f6c;
  color: white;
}

.text-important{
  font-weight: bold;
}

.title-payment {
  font-weight: bold;
  color: #002f6c;
}

mat-form-field {
  width: 100%;
}
