<div class="card" style="width: 18rem;">
  <img src="assets/defaultBoat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">BoatName</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h4" id="exampleModalLabel">BoatName</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <p class="h5">Rental date</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h6">09/07/2022 - 15/07/2022</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h5">Base price</p>
            </div>
            <div class="col-md">
              <p class="h5">200€/day</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h5">Extras</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h6">Extra 1</p>
            </div>
            <div class="col-md">
              <p class="h6">Extra 2</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h6">Extras' price</p>
            </div>
            <div class="col-md">
              <p class="h6">60€</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="h5">Total price</p>
            </div>
            <div class="col-md">
              <p class="h5">1260€</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">Payment method</p>
            </div>
            <div class="col-md">
              <p class="h6">Credit card ended on 3456</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">Rental status</p>
            </div>
            <div class="col-md">
              <p class="h6">Done/Booked/Cancelled</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="h5">Payment status</p>
            </div>
            <div class="col-md">
              <p class="h6">Paid / X pendant terms</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
