.btn-proyecto{
  background-color: #4f83cc;
  color: white;
}

.btn-proyecto:hover{
  background-color: #002f6c;
  color: white;
}

.btn-add{
  background-color: #81d4fa;
  width:25%;
  font-size: 4em;
  color: #ffffff;
  padding:-5%;
}

